body {
    background: #050210;
  }
  
  #Blurry_Rainbow_Circle {
    position: absolute;
    --Circle_Diameter: 200px;
    top: calc(50% - var(--Circle_Diameter)/2);
    left: calc(50% - var(--Circle_Diameter)/2);
    height: var(--Circle_Diameter);
    width: var(--Circle_Diameter);
    border-radius: calc(var(--Circle_Diameter)/2);
    background: linear-gradient(139.84deg, #fb5dad 14.35%, #55fb9f 45.6%, #b97aff 82.79%);
    animation: Rotate 1s linear infinite;
    filter: blur(20px);
  }
  
  #Rainbow_Circle {
    position: absolute;
    --Circle_Diameter: 200px;
    top: calc(50% - var(--Circle_Diameter)/2);
    left: calc(50% - var(--Circle_Diameter)/2);
    height: var(--Circle_Diameter);
    width: var(--Circle_Diameter);
    border-radius: calc(var(--Circle_Diameter)/2);
    background: linear-gradient(139.84deg, #fb5dad 14.35%, #55fb9f 45.6%, #b97aff 82.79%);
    animation: Rotate 1s linear infinite;
  }
  
  #Large_Circle {
    position: absolute;
    --Circle_Diameter: 175px;
    top: calc(50% - var(--Circle_Diameter)/2);
    left: calc(50% - var(--Circle_Diameter)/2);
    height: var(--Circle_Diameter);
    width: var(--Circle_Diameter);
    border-radius: calc(var(--Circle_Diameter)/2);
    background: #050210;
  }
  
  #Medium_Circle {
    position: absolute;
    --Circle_Diameter: 10px;
    top: calc(50% - var(--Circle_Diameter)/2);
    left: calc(50% - var(--Circle_Diameter)/2);
    height: var(--Circle_Diameter);
    width: var(--Circle_Diameter);
    border-radius: calc(var(--Circle_Diameter)/2);
    background: #050210;
    animation: Grow 2s linear infinite;
  }
  
  #Small_Circle {
    position: absolute;
    --Circle_Diameter: 10px;
    top: calc(50% - var(--Circle_Diameter)/2);
    left: calc(50% - var(--Circle_Diameter)/2);
    height: var(--Circle_Diameter);
    width: var(--Circle_Diameter);
    border-radius: calc(var(--Circle_Diameter)/2);
    background: rgba(19, 12, 49, 1);
    animation: Grow_2 2s linear infinite;
  }
  
  @keyframes Rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes Grow {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(17);
      opacity: 0;
    }
    51% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  @keyframes Grow_2 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    40% {
      transform: scale(0);
      opacity: 0;
    }
    41% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(17);
      opacity: 0;
    }
  }